<script>
	import { onMount } from 'svelte';
	import Book from './Book.svelte';

	let affiliateIds = [];
	let append = false;
	let books = [];
	let finishedLoading = false;
	let limit = 36;
	let numberOfResultsString = `No books found`;
	let page = 1;
	let queryChanged = false;
	let remainingBooks = 0;
	let retrievedBooks = [];
	let searchText = '';
	let selectedSubject;
  let showLoading = false;
	let subjects = [];
	let totalBooks = 0;

	function clearForm() {
		page = 1;
		append = false;
		selectedSubject = '';
		searchText = '';
		retrievedBooks = [];
		searchForBooks();
	}

	function loadMore() {
		page++;
		append = true;
		queryChanged = false;
    showLoading = true;
		searchForBooks();
	}

  function searchForBooksFormSubmit() {
    append = false;
    page = 1;
    queryChanged = true;
		retrievedBooks = [];
    searchForBooks();
  }

	async function searchForBooks() {
		finishedLoading = append ? true : false;
		let searchParams = [];

		if (selectedSubject) {
			searchParams.push(`subject=${selectedSubject}`);
		}

		if (searchText.length > 0) {
			searchParams.push(`text=${searchText}`);
		}

		if (queryChanged) {
			page = 1;
			append = false;
		}

		searchParams.push(`limit=${limit}&page=${page}&loaded_books=${retrievedBooks.join(',')}`);

		searchParams = searchParams.join('&');

		const bookResponse = await fetch(`/wp-json/bookshop/v1/books?${searchParams}`);
		const data = await bookResponse.json();

		if (append) {
			books = [...books, ...data.results];
		} else {
			books = data.results;
		}

		if (page === 1) {
			totalBooks = data.total;
		}
		remainingBooks = data.remaining;
		retrievedBooks = data.retrieved_book_ids;
		finishedLoading = true;
    showLoading = false;

		switch(totalBooks) {
			case 0:
				numberOfResultsString = 'No books found'
				break;
			case 1:
				numberOfResultsString = '1 book found';
				break;
			default:
				numberOfResultsString = `${totalBooks} books found`;
				break;
		}
	}

	onMount( async () => {
		const affiliateResponse = await fetch('/wp-json/bookshop/v1/affiliates');
		affiliateIds = await affiliateResponse.json();

		const subjectResponse = await fetch('/wp-json/bookshop/v1/subjects');
		subjects = await subjectResponse.json();
		searchForBooks();
	});
</script>

<form on:submit|preventDefault={searchForBooksFormSubmit}>
	<input bind:value={searchText} on:change={() => queryChanged = true} type="text" name="search" id="search" placeholder="Search by title or author..." />

	<select bind:value={selectedSubject} on:change={() => queryChanged = true}>
		<option value="">Filter by subject</option>
		{#each subjects as subject}
			<option value={ subject.id }>{ @html subject.name }</option>
		{/each}
	</select>
	<input type="submit" value="Search" />
	<a on:click={clearForm}>Clear</a>
</form>

{#if finishedLoading}
	<h3>{numberOfResultsString}</h3>
	<div class:books>
		{#if books.length > 0}
			{#each books as book}
				<Book {book} {affiliateIds} />
			{/each}
		{/if}
	</div>

  <div class="loading">
    {#if showLoading}
      <div class="lds-ripple"><div></div><div></div></div>
      <h5>Loading books...</h5>
    {/if}

    {#if remainingBooks > 0 && !showLoading}
      <button on:click="{loadMore}">Load More</button>
    {/if}
  </div>
{:else}
  <div class="loading">
    <div class="lds-ripple"><div></div><div></div></div>
    <h5>Loading books...</h5>
  </div>
{/if}

<style>
	.books {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: 1fr 1fr;
	}

	form {
    align-items: center;
		display: grid;
		grid-gap: 1em;
		grid-template-columns: 5fr 5fr 2fr 1fr;
    justify-items: center;
		margin: 2em 0;
	}

  form a {
    cursor: pointer;
  }

  form input {
    width: 100%;
  }

  form input,
  form select {
    border-width: 1px;
    font-size: 1rem;
    margin: 0;
    padding: 6px 12px;
    text-transform: capitalize;
  }

  input[type="submit"] {
    background-color: rgba(221, 133, 0, 1.00);
    color: #333333;
  }

  input[type="submit"]:hover {
    background-color: rgba(221, 133, 0, 0.50);
    color: #ffffff;
  }

	h3 {
		margin-bottom: 1em;
		text-align: center;
	}

  .loading {
    display: block;
    margin: 1em auto;
    max-width: 50%;
    text-align: center;
  }

	/**
	 * Spinner
	 */
	.lds-ripple {
		display: block;
		position: relative;
		width: 80px;
		height: 80px;
		margin: 0 auto;
	}
	.lds-ripple div {
		position: absolute;
		border: 4px solid #000;
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	}
	.lds-ripple div:nth-child(2) {
		animation-delay: -1s;
	}
	@keyframes lds-ripple {
		0% {
			top: 36px;
			left: 36px;
			width: 0;
			height: 0;
			opacity: 1;
		}
		100% {
			top: 0px;
			left: 0px;
			width: 72px;
			height: 72px;
			opacity: 0;
		}
	}


	@media screen and (max-width: 600px) {
    form,
		.books {
			display: block;
		}

    form input, 
    form select {
      margin-bottom: 0.5em;
    }
	}
</style>
