<script>
	export let affiliateIds;
	export let book;
	let active = false;
	let amazonLink = '';
	let bookshopLink = '';
	let bg = true;

	$: {
		if ( book.amazon_affiliate_link.length > 0 ) {
			amazonLink = book.amazon_affiliate_link;
		} else {
			let urlTitle = book.title.replaceAll("'", '' );
			urlTitle = book.title.replaceAll("&#8217;", '' );
			urlTitle = urlTitle.replace(/[\W_]+/g, '+' );
			amazonLink = `https://amazon.com/s?k=${urlTitle}`;
		}

		if ( book.bookshop_affiliate_link.length > 0 ) {
			bookshopLink = book.bookshop_affiliate_link;
		} else {
			bookshopLink = `https://bookshop.org/a/${affiliateIds.bookshop_affiliate_id}/${book.isbn13}`;
		}
	}

	function hideDetails(event) {
		active = false;
	}

	function showDetails(event) {
		active = true;
	}
</script>

<article on:mouseover={showDetails} on:mouseout={hideDetails} class:active>
	<div>
		<div class:bg style="background-image: url('{ book.cover }');" />
		<h3>{ @html book.title }</h3>
	</div>
	<h4><small>by</small> { @html book.authors }</h4>
	<div class="buttons">
		<a class="button amazon" href={ amazonLink } target="_blank">Amazon</a>
		<a class="button bookshop" href={ bookshopLink } target="_blank">Bookshop</a>
	</div>
</article>

<style>
	article {
    border: 1px solid rgba(0, 0, 0, 0.25);
		display: grid;
    grid-template-rows: auto auto 50px;
    padding: 1em;
		text-align: center;
	}
  article:hover {
    background-color: rgba(0, 0, 0, 0.025);
  }

	.bg {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto 100%;
		border-bottom-width: 8px;
		border-bottom-style: solid;
    border-color: #966f33;
    border-radius: 4px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.10);
		min-height: 300px;
	}

	article h3 {
    font-size: 22px;
		font-weight: bold;
		margin-top: 0.5em;
		padding: 0 0.25em;
	}

  article h4 {
    font-size: 16px;
  }

	small {
		display: block;
	}

  .buttons, h4 {
    align-self: end;
  }

  .button {
    margin: 0 10px;
    padding: 6px 16px;
  }

  .amazon {
    background-color: #f6db9a;
    background-color: rgba(246, 219, 154, 1.00);
  }

  .bookshop {
    background-color: #564898;
    background-color: rgba(86, 72, 152, 0.50);
  }

	@media screen and (max-width: 600px) {
    article {
      margin-bottom: 1em;
    }
  }
</style>
